extends layout

block content
  section
    .inner
      header
        h1= title
        section
          p Welcome to the early design of the autograding appliacation for ISDS 1102. 
          p The site can be used by students to practice their understanding of class content. 
          p.
            In order to access the 
