extends layout

block content
  h1= title
  p Welcome to #{title}
  p.
    This is the first stab a the Autograding Site.
    Gabe is the author here
  a(href = 'generic') Here you go to the DDS Lab Website
