doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='stylesheets/main.css')
  body
    .page-wrap
      // Nav
      nav#nav
        case title
          when "Autograder"
            ul 
              li 
                a(href='/', class='active')
                  span(class='icon fa-home')
              li
                a(href='generic')
                  span(class='icon fa-file-text')
              li 
                a(href='results')
                  span(class='icon fa-camera-retro')
          when "Question Page"
            ul 
              li 
                a(href='/')
                  span(class='icon fa-home')
              li
                a(href='generic', class='active')
                  span(class='icon fa-file-text-o')
              li 
                a(href='results')
                  span(class='icon fa-camera-retro')
          when "Results Page"
            ul 
              li 
                a(href='/')
                  span(class='icon fa-home')
              li
                a(href='generic')
                  span(class='icon fa-file-text-o')
              li 
                a(href='results', class='active')
                  span(class='icon fa-camera-retro')
      // Main
      section#main
        // Header
        header#header
          div Autograder Application
        block content
        // Footer
        footer#footer
          #copyright &copy; 
            a(href='http://dds.cct.lsu.edu') DDS Lab
    // Scripts
    script(src='javascripts/jquery.min.js')
    script(src='javascripts/jquery.poptrox.min.js')
    script(src='javascripts/jquery.scrolly.min.js')
    script(src='javascripts/skel.min.js')
    script(src='javascripts/util.js')
    script(src='javascripts/skel.min.js')
    script(src='javascripts/main.js')