extends layout

block content
  section
    .inner
      header  
        h1= title
      section
        p When operational this section will include a results page in the form of a dashboard the student can use to see theri score and their performance by course topic.
        p Here the student will also have the ability to reset their results and start over. 

